html,
			head{
				margin:0vw;
			}
			.login{
				font-family:'Segoe UI';
				font-size: 1vw;
				height:3vw;
			}
			.login div{
				display:block;
				position:absolute;
				right: 2vw;
			}
			.login div ul li{
				display:inline-block;
				padding-inline:1vw;
			}
			.login ul li a{
				color:black;
				text-decoration: none;
			}
			.nav{
				display:block;
				background-color:whitesmoke;
				height: 7vw;
			}
			.logotext{
				display:block;
				position: absolute;
				font-family: 'Segoe UI';
			}
			.logotext div{
				display:inline-block;
				vertical-align:center;
			}
			.logotext div ul{
				text-decoration: none;
				list-style: none;
			}
			.menu{
				display:block;
				position:absolute;
				right:1vw;
				font-family: 'Segoe UI';
				font-size: 1vw;
			}
			.menu div{
				display:inline-block;
				vertical-align: center;
				padding-right:4vw;
			}
			.menu div ul{
				display:inline-block;
				font-size: 1.5vw;
				padding:0.5vw;
			}
			.menu div ul li{
				display:inline-block;
				padding-inline: 0.5vw;
			}
			.menu div ul li a{
				text-decoration: none;
				color: black;
			}
			body{
				margin:0vw;
			}
			.banner{
				display:block;
				height:50vw;
				background-size:cover;
				background-image:url(../images/close-up-handshake-business-people-600w-1929459035.jpg);
			}
			.bannerform{
				display:block;
				padding-left: 2vw;
				margin-top: 1vw;
				padding-top: 25vw;
				height:25vw;
				max-width: 50vw;
				font-family: 'Segoe UI';
				color:whitesmoke;
			}
			.img-txt{
				display:grid;
				grid-template-columns: auto auto;
				gap:2vw;
				padding: 3vw;
				height:auto;
			}
			.img-txt1{
				padding: 0vw;
				text-align: center;
				width:45vw;
			}
			.img-txt2{
				width:45vw;
			}
			.txt-img{
				display:grid;
				grid-template-columns: auto auto;
				gap:2vw;
				padding: 3vw;
				height: auto;
			}
			.txt-img1{
				display:block;
				width:45vw;
			}
			.txt-img2{
				display:block;
				padding:0vw;
				text-align: center;
			}
			.features{
				display:grid;
				grid-template-columns: auto auto auto auto;
				background-color: whitesmoke;
				padding: 1vw;
				margin:1vw;
				height: auto;

			}
			.feature-item{
				text-align:center;
				border: 0.1vw solid;
				margin:0.2vw;
			}
			.feature-img-item{
				border:0.1vw;
			}
			.feature-txt-item{
				font-family: 'Segoe UI';
			}
			h1{
				font-family: 'Segoe UI';
				font-size: 3vw;
			}
			h2{
				font-family: 'Segoe UI';
				font-size: 2vw;
			}
			h3{
				font-family: 'Segoe UI';
				font-size: 1.5vw;
			}
			p{
				font-family: 'Segoe UI';
				font-size:1vw;
			}

			footer{
				margin:0vw;
				background-color: whitesmoke;
			}

			.footer-container{
				display:grid;
				grid-template-columns: auto auto auto;
				padding: 3vw;
			}
			.footer-itemgroup1{
				display:block;
				grid-column-start: 1;
				grid-column-end: 3;
				font-family: 'Segoe UI';
				font-size:1vw;
				padding-left:3vw;
			}
			.footer-itemgroup1 ul{
				display:block;
			}
			.footer-itemgroup1 ul li{
				display:inline-block;
				list-style: none;
				vertical-align: middle;
			}
			.footer-itemgroup1 ul li h3{
				margin-top:0vw;
				padding-left: 0.5vw;
			}
			.footer-itemgroup2{
				display:block;
				text-align: right;
				position:relative;
				grid-column-start: 3;
				grid-column-end:4;
			}
			.footer-itemgroup3{
				font-family: 'Segoe UI';
				font-size: 1vw;
				font-weight:bold;
				padding-left: 6vw;
			}
			.footer-itemgroup3 ul{
				list-style: none;
			}
			.footer-itemgroup3 ul li{
				padding:0.5vw;
			}
			.footer-itemgroup3 ul li a{
				text-decoration: none;
				color:black;
			}
			.txtblock{
				font-family: 'Segoe UI';
				padding:5vw;
			}
		/*trang dich vu va san pham*/
			.servicesblock{
				position:relative;
				display:block;
				margin: 1vw;
				padding:2vw;
			}
			.servicesblock div{
				display:block;
				text-align: center;
				margin:0 auto;
			}
			.serviceitem{
				display:block;
				padding:0vw;
			}	
			.serviceitem ul{
				display: block;
				margin:0 auto;
				padding: 0vw;
			}
			.serviceitem ul li{
				list-style: none;
				text-align: center;
				padding:0.5vw;
			}